---
import { SITE_DESCRIPTION, SITE_TITLE } from '../siteConfig';
import { Image } from 'astro:assets';
import heroImage from '../images/headshot.png';
const heroAlt = 'A headshot.';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout page_title={SITE_TITLE} page_description={SITE_DESCRIPTION} heroImage={heroImage} heroAlt={heroAlt}>
	<main>
		<h1 class="pb-3">Hello There</h1>
		<Image src={heroImage} alt={heroAlt} class="w-1/4 p-4 rounded-3xl"/>
		
		<p>
			Welcome to my about me page.
		</p>
	</main>

</BaseLayout>
