---
import { SITE_DESCRIPTION, SITE_TITLE } from '../../siteConfig';

import BaseLayout from '../../layouts/BaseLayout.astro';
import PaletteSwatch from '../../components/PaletteSwatch.astro';
import { tailwindsTheme } from "../../styles/easy-theme.mjs";

const PAGE_TITLE = 'EasyABC Theme';
const PAGE_DESCRIPTION = 'Viewing and applying Themes for EasyABC';

let light_theme = tailwindsTheme.colors.light;
delete light_theme.background;
let dark_theme = tailwindsTheme.colors.dark;
delete dark_theme.background;
---
<BaseLayout page_title={PAGE_TITLE} page_description={PAGE_DESCRIPTION}>
    <main class="px-4 py-6 rounded-lg">
        <div class="flex flex-col gap-2 dark:hidden">
            {
                Object.entries(light_theme).map(([colorName, colorFamily]) => (
                    <div class="flex flex-col">
                        <h5 class="pl-1 pb-1">{colorName}</h5>
                        <div class="flex flex-row md:flex-row relative md:space-x-1 space-y-1 md:space-y-0 rounded-lg">
                            {
                                Object.entries(colorFamily).map(([shadeValue, colorCode]) => {                              
                                    return <PaletteSwatch shadeValue={shadeValue} colorCode={colorCode}/>;
                                })
                                
                            }
                            </div>
                    </div>
                ))
            }
        </div>
        <div class="dark:flex flex-col gap-2 hidden">
            {
                Object.entries(dark_theme).map(([colorName, colorFamily]) => (
                    <div class="flex flex-col">
                        <h5 class="pl-1 pb-1">{colorName}</h5>
                        <div class="flex flex-row md:flex-row relative md:space-x-1 space-y-1 md:space-y-0 rounded-lg">
                            {
                                Object.entries(colorFamily).map(([shadeValue, colorCode]) => {                              
                                    return <PaletteSwatch shadeValue={shadeValue} colorCode={colorCode} />;
                                })
                                
                            }
                            </div>
                    </div>
                ))
            }
        </div>
    </main>
</BaseLayout>