---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/navbar/Navbar.astro';
import { formatDescription } from '../utils/abbreviateDescription';
import ThemeIcon from '../components/navbar/ThemeIcon.astro';
import ShareIcon from '@components/navbar/ShareIcon.astro';
import Footer from '../components/Footer.astro';
const { title, description, pubDate, updatedDate, heroImage, heroAlt, body } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			page_title={title}
			page_description={await formatDescription('mobile', description, body, title)}
			heroImage={heroImage}
			heroAlt={heroAlt}
			pubDate={pubDate}
			updatedDate={updatedDate}
		/>
	</head>
	<body>
		<header>
			<Navbar />
			<ThemeIcon />

			<div class="sm:hidden">
				<ShareIcon mode="desktop" />
			</div>
		</header>
		<main>
			<slot />
			<div class="sm:block md:hidden">
				<Footer />
			</div>
		</main>
	</body>
</html>
