---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
import { formatDescription } from '../utils/abbreviateDescription';
import ThemeIcon from '../components/ThemeIcon.astro';

const { title, description, pubDate, updatedDate, heroImage, heroAlt, body} = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
	<BaseHead page_title={title} page_description={await formatDescription(description, body)} heroImage={heroImage} heroAlt={heroAlt} pubDate={pubDate} updatedDate={updatedDate}/>
</head>

	<header>
		<Navbar />
		<ThemeIcon />
	</header>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
