---
import FormattedDate from '@components/FormattedDate.astro';
import { Image } from 'astro:assets';
import BaseLayout from '@layouts/BaseLayout.astro';

const { title, description, pubDate, modifiedDate, heroImage, heroAlt, body, readingTime } = Astro.props;
---

<BaseLayout
	pageTitle={title}
	body={body}
	pageDescription={description}
	heroImage={heroImage}
	heroAlt={heroAlt}
	pubDate={pubDate}
	modifiedDate={modifiedDate}
>
	<article>
		<div class="flex w-full flex-col items-center pb-2 pt-4 text-center md:w-7/12 lg:w-8/12">
			<div class="shadow-gradient mb-8 flex rounded-xl md:max-w-[77%] lg:max-w-[66%]">
				{heroImage && <Image class="w-auto  rounded-xl  md:max-h-[45vh] lg:max-h-[39vh] " src={heroImage} alt={heroAlt || ''} />}
			</div>
			<h1 class="sm:text-xl md:text-4xl">{title}</h1>
			<div class="flex items-center space-x-4 pb-2 pl-2 pt-4 text-sm">
				<div>{readingTime}</div>
				<div>·</div>
				<div>
					Published on
					<FormattedDate date={pubDate} />
				</div>
				{
					modifiedDate && (
						<>
							<div>·</div>
							<div class="italic">
								<>
									<>
										Updated on
										<FormattedDate date={modifiedDate} />
									</>
								</>
							</div>
						</>
					)
				}
			</div>
			<hr class="mb-8 mt-4 w-full border-semantic-on-surface-variant/10 md:w-[66%]" />
		</div>
		<div id="article-text" class="prose prose-customTheme max-w-none">
			<slot />
		</div>
	</article>
</BaseLayout>
