---
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import { formatDescription } from '../utils/abbreviateDescription';
import BaseLayout from './BaseLayout.astro';

const { title, description, pubDate, updatedDate, heroImage, heroAlt, body, readingTime } = Astro.props;
---

<BaseLayout
	page_title={title}
	page_description={await formatDescription(description, body)}
	heroImage={heroImage}
	heroAlt={heroAlt}
	pubDate={pubDate}
	updatedDate={updatedDate}
>
	<article>
		<div class="lg:w-9/12 flex w-full flex-col items-center pb-2 pt-4 text-center">
			<div class="shadow-gradient lg:max-w-[66%] mb-6 flex rounded">
				{heroImage && <Image class="lg:max-h-[39vh]  w-auto  rounded" src={heroImage} alt={heroAlt || ''} />}
			</div>
			<h1 class="text-3xl md:text-4xl">{title}</h1>
			<div class="flex items-center space-x-4 pb-2 pl-2 pt-4 text-sm">
				<div>{readingTime}</div>
				<div>·</div>
				<div>
					Published on
					<FormattedDate date={pubDate} />
				</div>
				<div class="italic">
					{
						updatedDate && (
							<>
								Updated on
								<FormattedDate date={updatedDate} />
							</>
						)
					}
				</div>
			</div>
			<hr class="lg:w-[66%] mb-5 mt-1 w-full border-semantic-on-surface-variant/10" />
		</div>
		<div id="article-text" class="prose prose-customTheme max-w-none">
			<slot />
		</div>
	</article>
</BaseLayout>
