---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { Image } from 'astro:assets';

import {Content as ReadMe} from '/README.md';
const SITE_TITLE = "Easy Astro Blog Creator";
const SITE_DESCRIPTION = "Create and host a blog for free using github pages."
import heroImage from '/public/images/easy-hero.png';
const heroAlt = 'Easy logo.';
---

<!doctype html>
<style lang="scss"></style>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} heroImage={heroImage} heroAlt={heroAlt} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Image src={heroImage} alt={heroAlt} format="png" quality="100" style="height: 200px; width: auto; display: flex; margin-right: auto; margin-left: auto;"/>
            <ReadMe />
		</main>
		<Footer />
	</body>
</html>